@import '_reset';
@import '_mixins';
@import '_extends';

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fffdfb;
}

#search-box {
  @extend .shadow2;
  overflow: auto;

  input {
    float: left;
    @include calc(100%, 50px, width);
    border: 0;
    background-color: #fff;
    vertical-align: middle;
    font-family: inherit;
    font-size: inherit;
    resize: none;
    @extend .border-box;
    padding: 15px;

    &:focus {
      outline-width: 0;
    }
  }

  #search {
    width: 30px;
    padding: 10px;
    background: #60AA17;
    float: right;
    cursor: pointer;
  }
}

#message {
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: grey;
  @extend .centered;
}

#error {
  @extend #message;
  color: red;
}

#order {
  clear: right;
  padding: 10px;
  text-align: center;
  background-color: #fff;

  span {
    display: block;
  }

  div {
    display: inline-block;
    text-align: right;
    cursor: pointer;

    &:nth-child(3) {
      margin: 0 10px;
    }

    img {
      height: 20px;
      margin-right: 5px;
      visibility: hidden;

      &.show {
        visibility: visible;
      }

      &.up {
        @include transform(rotate(-180deg));
      }
    }
  }
}

#venues {
  overflow: auto;
  max-width: 900px;
  margin: 10px auto;

  .venue {
    width: 25%;
    float: left;
    padding: 10px;
    margin: auto;
    @extend .border-box;
  }

  .box {
    @extend .shadow1;
    @include border-radius(5px);
    background-color: #fff;
    padding: 10px;
    overflow: auto;
  }

  .name {
    font-size: 18px;
    color: #2d5be3;
  }

  .address {
    color: grey;
    font-size: 12px;
  }

  .link {
    display: block;
    border-top: 1px solid #eee;
    padding: 5px;
    text-align: center;

    &:first-of-type {
      border-top: none;
      
    }
  }

  .phone {
    @extend .address;
  }

  .twitter {
    width: 20px;
    display: block;
    float: right;
    margin-left: 10px;
  }
}

// loading gif
#spinner {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
}

@include keyframes(uil-ring-anim) {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

.uil-ring-css {
  background: none;
  position: relative;
  width: 60px;
  height: 60px;
  @extend .centered;
}
.uil-ring-css > div {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 80px;
  box-shadow: 0 2px 0 0 #2d5be3;
  @include animation(uil-ring-anim 0.75s linear infinite);
}

// Mobile
@media (max-width: 600px) {
  #search-box {
    input {
      width: 100%;
      display: block;
    }

    #search {
      height: 30px;
      width: 100%;
      display: block;
    }
  }

  #venues {
    .venue {
      width: 100%;
      min-height: auto;
    }
  }
}
