@import '_reset';
@import '_mixins';
@import '_extends';

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #fffdfb;
}

#search-box {
  @extend .shadow2;
  overflow: auto;

  input {
    float: left;
    @include calc(100%, 50px, width);
    border: 0;
    background-color: #fff;
    vertical-align: middle;
    font-family: inherit;
    font-size: inherit;
    resize: none;
    @extend .border-box;
    padding: 15px;

    &:focus {
      outline-width: 0;
    }
  }

  img {
    width: 30px;
    padding: 10px;
    background: #60AA17;
    float: right;
  }
}

#venues {
  overflow: auto;
  max-width: 900px;
  margin: 10px auto;

  .venue {
    width: 25%;
    float: left;
    padding: 10px;
    margin: auto;
    min-height: 200px;
    @extend .border-box;
  }

  .box {
    @extend .shadow1;
    @include border-radius(5px);
    background-color: #fff;
    padding: 10px;
    overflow: auto;
  }

  .name {
    font-size: 18px;
    color: #2d5be3;
  }

  .address {
    color: grey;
    font-size: 12px;
  }

  .link {
    display: block;
    border-top: 1px solid #eee;
    padding: 5px;
    text-align: center;

    &:first-of-type {
      border-top: none;
      
    }
  }

  .phone {
    @extend .address;
  }

  .twitter {
    width: 20px;
    display: block;
    float: right;
    margin-left: 10px;
  }
}

// Mobile
@media (max-width: 500px) {
  #search-box {
    input {
      width: 100%;
      display: block;
    }

    img {
      height: 30px;
      width: 100%;
      display: block;
    }
  }

  #venues {
    .venue {
      width: 100%;
      min-height: auto;
    }
  }
}
